{
    "extends": [
        "airbnb"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": "off",
        "no-mixed-operators": "off",
        "comma-dangle": ["error", "always-multiline"],
        "no-param-reassign": "off"
    },
    "overrides": [
        {
          "files": ["webpack.dev.js", "webpack.prod.js", "webpack.common.js"],
          "rules": {
            "import/no-extraneous-dependencies": ["off"]
          }
        }
    ]
}